<div class="relative overflow-x-auto shadow-md sm:rounded-lg">

    @for (empleado of empleados; track empleado.id) {

    <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">

        <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
            <tr>
                <th scope="col" class="px-6 py-3">
                    ID
                </th>
                <th scope="col" class="px-6 py-3">
                    NOMBRE
                </th>
                <th scope="col" class="px-6 py-3">
                    GENERO
                </th>
                <th scope="col" class="px-6 py-3">
                    ESTADO
                </th>
                <th scope="col" class="px-6 py-3">
                    ESPECIES
                </th>

                <th scope="col" class="px-6 py-3">
                    IMG
                <th></th>


                <th scope="col" class="px-6 py-3">
                    <span class="sr-only">Edit</span>
                </th>
            </tr>
        </thead>

        <tbody>
            <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 border-gray-200">


                <th>
                    <p>{{empleado.id}}</p>
                </th>

                <th class="px-6 py-4">
                    <p>{{empleado.name}}</p>
                </th>
                <th class="px-6 py-4">
                    <p>{{empleado.gender}}</p>
                </th>
                <th class="px-6 py-4">
                    <p>{{empleado.status}}</p>
                </th>
                <th class="px-6 py-4">
                    <p>{{empleado.species}}</p>
                </th>
                <th>
                    <img width="50px" height="50px" src="{{empleado.image}}">
                </th>
            </tr>

        </tbody>
    </table>
    }
</div>